body{
    background: #f9f9f9;
}
.content {
    padding: 50px 10px;

    margin-top: 50px;
}
h1,h3{
    padding: 0 13px;
    line-height: 1;
}
h3{
    color: #9b9b9b;
    font-size: 1.8em;
    letter-spacing: 7px;
}
.page-header1 {
    padding: 4px 18px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #e7e7e7;
}
.about_us {
    padding: 30px 0;
}
.introduce{
    color: #575757;
    font-size: 1.2em;
    line-height: 1.8;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
    color: #6E6E6E;
    font-size: 1.1em;
    line-height: 1.8;
}
.weixin1{
    width: 72%;
    height:auto;
    border: 1px solid #ececec;
    background: url("../images/weixin1.png") no-repeat 100% 0;
    color:#5C5C5C;
    font-size: 1.3em;
    padding: 17px 0;
    margin: 25px 10px;
}
.weixin1>span{
    color: #000;
    line-height: 1.5;
    font-size: 1.3em;
}
.weixin1 img{
    margin: 15px auto;
}
.top_back{
    display: none;
}