<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style=" height: auto;font-family: 'microsoft yahei';">
    <div class='content' style='width:80%;margin:5px auto;'>
        <div class="box">
            <p>{{ realname }} ({{ nickname }})</p>
            <img src="{{ head_url }}" alt="" style="max-height:160px;">
        </div>
        <div class="box">
            <p>性别： {{ sex }}</p>
        </div>
        <div class="box">
            <p>生日： {{ birthday }}</p>
        </div>
        <div class="box">
            <p>职业：{{ profession }}</p>
        </div>
        <div class="box">
            <p>电话：{{ phone }}</p>
        </div>
        <div class="box">
            <p>微信：{{ wechat }}</p>
        </div>
        <div class="box">
            <p>邮箱：{{ email }}</p>
        </div>
        <div class="box">
            <p>爱好：{{ hobby }}</p>
        </div>
        <div class="box">
            <p>居住城市：{{ residence }}</p>
        </div>
        <div class="box">
            <p>探店城市：{{ ex_cities }}</p>
        </div>
        <div class="box">
            <p>备注：{{ remark }}</p>
        </div>
        <div class="box">
            <p>交稿周期：{{ submission }}</p>
        </div>
        <div class="box">
            <p>招募信息获取途径：{{ info_from }}</p>
        </div>
        <div class="box">
            <p>作品链接：{{ writing_url }}</p>
        </div>
        <div class="box">
            <p>简历链接：{{ files_url }}</p>
        </div>
    </div>
</body>
</html>
