<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小日子app {{Current_city.0.name}} {{Current_tag.0.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/list.css?time={{time}}"/>
</head>
<style>
    .Domestic{
        clear: both;
    }
</style>
<body>

    {% if city_list %}
    <div class="c-list" style="clear: both;margin-bottom: 10px"  >
        <ul class='Domestic' >
            <li style='width:100%;text-align:left;line-height: 1;float: none;padding:5px 5%;font-size: 1.3em' >
                <a href="/domestic/" style="color: #000;" >国内城市</a></li>
            {% for i in city_list.domestic %}
            <li><a  title='{{i.name}}'  href='{{i.url}}'>{{i.name}}</a></li>
            {% endfor %}</ul>
        <ul class='Domestic' style='clear: both' >
            <li style='width:100%;text-align:left;line-height: 1;float: none;padding:5px 5%;font-size: 1.3em' >
                <a href="/abroad/" style="color: #000;" >国外城市</a></li>
            {% for i in city_list.abroad %}<li><a  title='{{i.name}}'  href='{{i.url}}'>{{i.name}}</a></li>{% endfor %}</ul>
    </div>
    {% endif %}
    {% if cat %}
    <div class="c-list" style="clear: both;"  >
        {% for i in cat %}
        <ul class='Domestic' >
            <li style='width:100%;text-align:left;line-height: 1;float: none;padding:5px 5%;font-size: 1.3em' >
                <a href="{{i.url}}" style="color: #000;" >{{i.title}}</a></li>
            {% for j in i.tags %}
            <li><a  title='{{j.name}}'  href='{{j.url}}'>{{j.name}}</a></li>
            {% endfor %}

        </ul>
        {% endfor %}
    </div>
    {% endif %}

<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<!--<script type="text/javascript" src="/js/m_list.js?time={{time}}"></script>-->
<script type="text/javascript">

</script>
</body>
</html>